<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin-bottom:8px;"># Scanning files on high capacity storage take a long time to finish. Please 'Kill App' if you think the app was hang</h5>
    <h5 style="margin-bottom:8px;"># The '.mdx' and '.css' files (optional) must be in the same folder. Both files must use the same name</h5>
    <h5 style="margin-bottom:2px;"># This app does not provide MDX file. You can download those files here:</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;">https://downloads.freemdict.com/</li>
      <li style="margin-right:0px;">https://t.me/MDict_Dictionary</li>
    </ul>
    <h5 style="margin-top:6px;margin-bottom:2px;"># Troubleshooting</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">To fix storage permission, goto <b><i>Settings > Privacy & Security > App Permissions > MDX Dictionary > Memory Card Storage</i></b>, then select <b>Grant</b></li>
      <li style="margin-right:0px;margin-bottom:3px;">To reload mdx files, goto <b><i>Menu > Reload Library</i></b></li>
      <li style="margin-right:0px;">Please restart your device if the app fail to open MDX file</li>
    </ul>
    <h5 style="margin-top:6px;margin-bottom:2px;"># Shortcut key</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;"><b>Arrow Up</b> or <b>Arrow Down</b> to scroll the page</li>
      <li style="margin-right:0px;margin-bottom:3px;"><b>Arrow Left</b> or <b>Arrow Right</b> to jump between anchor tag</li>
      <li style="margin-right:0px;"><b>Enter</b> to select anchor tag</li>
    </ul>
  </div>
</div>
