<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin-bottom:8px;"># Scanning MDX on high capacity storage take a long time to finish. Please 'Kill App' if you think the app was hang</h5>
    <h5 style="margin-bottom:8px;"># Please put both '.mdx' and '.css'(optional) files in the same folder. Both files must use the same name </h5>
    <h5 style="margin-bottom:2px;"># This app does not provide MDX file. You can download those files here:</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;">https://downloads.freemdict.com/Recommend/Collections/_Oxford/</li>
    </ul>
    <h5 style="margin-top:4px;margin-bottom:2px;"># Troubleshooting</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">To fix storage permission, goto <i>Settings <b>></b> Privacy & Security <b>></b> App Permissions <b>></b> MDX Dictionary <b>></b> Memory Card Storage</i>, then select <b>Grant</b></li>
      <li style="margin-right:0px;">Open MDX Dictionary, goto <i>Menu <b>></b> Reload Library</i> or restart your device to reload all MDX files from storage</li>
    </ul>
  </div>
</div>
