<div class="kui-flex-wrap">
  {{#empty}}
    <div style="text-align:center;white-space:pre-wrap!important;word-break:break-word!important;font-weight:bold;height:100%;display:flex;flex-direction:column;justify-content:center;">
      <div>Please press 'Search' to look-up words</div>
    </div>
  {{/empty}}
  {{^empty}}
  <ul class="kui-list kai-container">
    {{#result}}
    <li class="searchNav kui-divider">
      <div class="kui-row-center">
        <h5 style="font-weight:bold;white-space:pre-wrap!important;word-break:break-word!important;">{{ word }}</h5>
      </div>
    </li>
    {{/result}}
  </ul>
  {{/empty}}
</div>
